<div class="row home">
  <div class="center">
    <h4 class="title">Task Management</h4>
    <h5 class="subtitle">Register now and create Tasks easily for management your activities</h5>

    <%= link_to 'Register Now', new_user_registration_path, class:"waves-effect waves-light btn home-button" %>
  </div>
</div>